@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* css-normalize-end */

/* my normalize */

a {
    text-decoration: none;
}

body {
    margin: 0;
    display: flex;
}

body {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar-con {
    background-color: #1992d4;

    grid-row: 1 / 3;
}

.main-con {
    background-color: #e2e8f0;
}

.header-con {
    background-color: #ffff;
}